.ask-question {
  box-sizing: border-box;
  max-width: 328px;
  width: 100%;
  min-height: 200px;
  display: none;
  border-radius: 16px;
  background: rgb(218, 238, 255);
  background: linear-gradient(153deg, rgba(218, 238, 255, 1) 0%, rgba(218, 238, 255, 0) 100%);
  text-align: center;
  padding-top: 23px;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (max-width: 415px) {
    display: flex;
    flex-direction: column;
  }

  &_heading {
    font-family: 'Intro-Regular';
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 11px;
    display: inline-block;
  }

  &_text {
    font-family: 'Intro-Light';
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }

  &_button {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 16px;
  }
}