.breadcrumbs {
  display: flex;
  align-items: center;

  &_list {
    display: flex;
  }

  &_item {
    white-space: pre-wrap;
    font-family: 'Intro-Light';
    color: #333333;
    font-size: 14px;

    &-link {
      white-space: pre-wrap;
      font-family: 'Intro-Light';
      color: #333333;
      font-size: 14px;
      transition: 0.12s ease-out;

      &:hover {
        opacity: 0.85;
      }

      @media screen and (max-width: 415px) {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 415px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}