.breadcrumbs {
  min-height: 57px;
  display: flex;
  align-items: center;
  //--.breadcrumbs_list
  &_list {
    display: flex;
  }
  //--.breadcrumbs_item-link
  &_item-link {
    white-space: pre-wrap;
    font-family: 'Intro-Light';
    color: #333333;
    font-size: 14px;
  }
}