.breadcrumbs {
  display: flex;
  align-items: center;

  &_list {
    display: flex;
  }

  &_item-link {
    white-space: pre-wrap;
    font-family: 'Intro-Light';
    color: #333333;
    font-size: 14px;

    @media screen and (max-width: 415px) {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 415px) {
    height: 55px;
    padding-left: 16px;
    padding-right: 16px;
  }
}