.button {
  padding: 11px 16px;
  border-radius: 4px;
  border: 1px solid $red;
  transition: 0.1s;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline: none;
  color: $red;
  font-family: 'Intro-Regular';
  font-size: 18px;
  line-height: 24px;


  &:hover {
    background-color: $red;
    color: white;
  }

  &--orange {
    border-radius: 8px;
    color: white;
    background-color: $red;
    width: 100%;
    transition: 0.12s ease-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0);
      color: $red;
    }
  }
}