.buy-button {
  max-width: 228px;
  width: 100%;
  background-color: rgba(241, 85, 38, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border-radius: 8px;
  transition: 0.1s;
  box-sizing: border-box;

  &_icon {
    fill: $red;
    margin-right: 8px;
    transform: translateX(-2px);
  }

  &_text {
    color: $red;
    font-family: 'Intro-Regular';
    font-size: 16px;
    transform: translateX(-2px);
  }

  &:hover {
    background-color: $red;

    &,
    .buy-button_text {
      color: white;
    }

    &,
    .buy-button_icon {
      fill: white;
    }
  }
}