.callback-discount {
  padding-top: 64px;
  padding-bottom: 24px;
  //--.callback-discount-wrap
  &-wrap {
    background: radial-gradient(71.29% 202.7% at 71.29% 56.86%, #FCAA17 0%, #F15526 100%);
    min-height: 80px;
  } 
}