.callback-discount {
  padding-top: 57.5px;
  padding-bottom: 24px;

  &_container {
    max-width: 840px;
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    @media screen and (max-width: 415px) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 27px;
      padding-bottom: 31.5px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  //--.callback-discount-wrap
  &_wrap {
    background-image: url('../../assets/patterns/fish_pattern.png'), radial-gradient(71.29% 202.7% at 71.29% 56.86%, #FCAA17 0%, #F15526 100%);
    min-height: 80px;
    background-repeat: repeat;
  }

  //--.callback-discount_title
  &_title {
    position: relative;
    font-family: 'Intro-Bold';
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: white;
    letter-spacing: -0.5px;

    @media screen and (max-width: 415px) {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 13px;
      letter-spacing: -0.4px;
    }
  }

  //--.callback-discount_form
  &_form {
    position: relative;
    overflow: hidden;
    max-width: 456px;
    width: 100%;
    height: 48px;
    border-radius: 24px;
    background: white;
  }

  //--.callback-discount_phone
  &_phone {
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 56px;
    font-family: 'Intro-Light';
    font-size: 16px;
    line-height: 24px;
    color: #666666;
  }

  //--.callback-discount_icon
  &_icon {
    fill: black;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
  }

  //--.callback-discount_button
  &_button {
    border: none;
    border-radius: 16px;
    position: absolute;
    right: 8px;
    top: 50%;
    background-color: $red;
    padding: 5px 15px;
    transform: translateY(-50%);
    color: white;
    font-family: 'Intro-Regular';
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      background-color: rgba($red, 0.85);
    }
  }

  //--.callback-discount_offer
  &_offer {
    position: absolute;
    height: 100px;
    width: 88px;
    top: -64px;
    right: -109px;

    @media screen and (max-width: 415px) {
      top: -67.8px;
      right: -118.5px;
    }

    //--.callback-discount_offer-percents
    &-percents {
      left: 15px;
      top: 22px;
      position: absolute;
      font-family: 'Intro-Black';
      color: white;
      font-size: 24px;
      line-height: 40px;
    }
  }
}