.delivery-notice {

  &_text {
    font-family: 'Intro-Light';
    font-size: 14px;
    line-height: 24px;
    color: #333333;

    &--hidden {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -moz-box;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
    }
  }

  &_read-more {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Intro-Book';
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    border-bottom: 1px dashed rgba(0, 0, 0, 0);
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
      border-bottom: 1px dashed $dark;
    }
  }

  @media screen and (max-width: 415px) {
    display: none;
  }
}