.delivery-notice {
  padding-bottom: 40px;
  padding-top: 23px;

  &_text {
    font-family: 'Intro-Light';
    font-size: 14px;
    line-height: 24px;
    color: #333333;
  }

  &_read-more {
    font-family: 'Intro-Book';
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    border-bottom: 1px dashed rgba(0, 0, 0, 0);
    transition: 0.2s ease;
    &:hover {
      border-bottom: 1px dashed $dark;
    }
  }

  @media screen and (max-width: 415px) {
    display: none;
  }
}