.faq {
  display: none;
  &_heading {
    font-family: 'Intro-Bold';
    font-size: 24px;
    line-height: 40px;
    color: $dark;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 27.1px;
    letter-spacing: -0.5px;
    margin-bottom: 20.5px;
  }
  @media screen and (max-width: 415px) {
    display: block;
  }
  &_item {
    box-sizing: border-box;
    font-family: 'Intro-Regular';
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 20px;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(203, 218, 236, 0.56);
    &:first-child {
      border-top: 1px solid rgba(203, 218, 236, 0.56);
    }
    &-icon {
      fill: rgba(0, 0, 0, 0.16);
    }
  }
}