.feedback {
  max-width: 446px;
  width: 100%;
  min-height: 376px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  position: relative;
  padding: 25px 25px 32px 25px;

  &_close {
    position: absolute;
    cursor: pointer;
    right: 18px;
    top: 21px;
    width: 18px;
    height: 18px;
  }

  &_heading {
    color: $dark;
    font-family: 'Intro-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
    display: block;
  }

  &_avatar {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 100%;
  }

  &_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
  }

  &_right-wrap {
    flex-basis: 324px;
  }

  &_textarea {
    outline: none;
    border: 1px solid #BDD5F2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    min-height: 96px;
    resize: vertical;
    padding: 8px 10px;
    margin-bottom: 12px;
  }

  &_rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-text {
      font-family: 'Intro-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $dark;
    }

    &-stars {
      transform: translate(2px, 2px);
    }

    &-star {
      width: 16px;
      height: 16px;
      fill: #BDD5F2;
      margin-right: 4px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &_load {
    &-label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &-text {
      font-family: 'Intro-Light';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 17px;
      color: #F15526;
      border-bottom: 1px dashed $red;
    }

    &-input {
      display: none;
    }

    &-icon {
      margin-right: 9px;
    }
  }

  &_thank-you {
    box-sizing: border-box;
    max-width: 440px;
    width: 100%;
    min-height: 352px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    position: relative;
    padding: 48px 59px 40px 59px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-heading {
      font-family: 'Intro-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      color: $dark;
      text-align: center;
      display: block;
      margin-bottom: 14px;
    }

    &-img {
      margin-bottom: 25px;
    }

    &-text {
      font-family: 'Intro-Light';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $dark;
    }
  }
}