.footer {
  padding-top: 40px;
  min-height: 400px;
  background-color: $dark;
  background-image: url('../../assets/patterns/fish_pattern_footer.png');

  &_pyrobyte {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: -45px;
    top: -7px;

    &-text {
      font-family: 'Intro-Book';
      font-size: 14px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.32);
    }
  }

  &_documents {
    display: flex;

    &-link {
      font-family: 'Intro-Book';
      font-size: 14px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.64);
    }

    &-item {
      &:nth-child(1) {
        margin-right: 86px;
      }
    }
  }

  //--.footer_callback-btn
  &_callback-btn {
    padding: 10px 39px;
  }

  //--.footer_socials-wrap
  &_socials-wrap {
    width: 100%;
    max-width: 234px;
    align-self: flex-start;
    min-height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 66px;
  }

  //--.footer-copyright
  &_copyright {
    font-family: 'Intro-Book';
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.64);
  }

  //--.footer_top
  &_top {
    display: flex;
    margin-bottom: 25px;
  }

  //--.footer-menu
  &_menu {
    padding-top: 14px;
    margin-right: 100px;

    //--.footer_menu-heading
    &-heading {
      margin-bottom: 24px;
    }

    //--.footer_menu-link
    &-link {
      font-family: 'Intro-Light';
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.72);
    }

    //--.footer_menu-list
    &-list {
      max-width: 400px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    //--.footer_menu-item
    &-item {
      flex-basis: 200px;
      margin-bottom: 16px;
    }
  }

  //--.footer-heading
  &_heading {
    font-family: 'Intro-Regular';
    color: white;
    font-size: 16px;
    line-height: 24px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  //--.footer_contacts
  &_contacts {
    padding-top: 14px;

    //--.footer_contacts-item
    &-item {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    //--.footer_contacts-list
    &-list {
      margin-bottom: 32px;
    }

    //--.footer_contacts-heading
    &-heading {
      margin-bottom: 24px;
    }

    //--.footer_contacts-link
    &-link {
      font-family: 'Intro-Light';
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.72);
    }

    //--.footer_contacts-phone
    &-phone {
      font-family: 'Intro-Regular';
      font-size: 18px;
      line-height: 24px;
      color: white;
    }

    //--.footer_contacts-icon
    &-icon {
      fill: white;
      margin-right: 18px;

      &--email {
        fill: none;
        stroke: white;
      }
    }
  }

  //--.footer_bottom
  &_bottom {
    display: flex;
    min-height: 80px;

    &-left {
      position: relative;
      display: flex;
      align-items: center;
      flex-basis: 50%;

      &::after {
        content: '';
        background: rgba(203, 218, 236, 0.08);
        width: 96.55%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-right {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-basis: 50%;

      &::after {
        content: '';
        background: rgba(203, 218, 236, 0.08);
        width: 96.55%;
        height: 1px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}