.footer {
  padding-top: 40px;
  min-height: 400px;
  background-color: $dark;
  background-image: url('../../assets/patterns/fish_pattern_footer.png');

  //--.footer-callback-btn
  &-callback-btn {
    padding: 10px 39px;
  }

  //--.footer-logo-socials-wrap
  &-logo-socials-wrap {
    width: 100%;
    max-width: 234px;
    align-self: flex-start;
    min-height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 66px;
  }

  //--.footer-copyright
  &-copyright {
    font-family: 'Intro-Book';
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.64);
  }

  //--.footer-top
  &-top {
    display: flex;
    margin-bottom: 25px;
  }

  //--.footer-menu
  &-menu {
    padding-top: 14px;
    margin-right: 100px;

    //--.footer-menu_footer-heading
    &_footer-heading {
      margin-bottom: 24px;
    }

    //--.footer-menu_link
    &_link {
      font-family: 'Intro-Light';
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.72);
    }

    //--.footer-menu_list
    &_list {
      max-width: 400px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    //--.footer-menu_item
    &_item {
      flex-basis: 200px;
      margin-bottom: 16px;
    }
  }

  //--.footer-heading
  &-heading {
    font-family: 'Intro-Regular';
    color: white;
    font-size: 16px;
    line-height: 24px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  //--.footer-contacts
  &-contacts {
    padding-top: 14px;

    //--.footer-contacts_item
    &_item {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    //--.footer-contacts_list
    &_list {
      margin-bottom: 32px;
    }

    //--.footer-contacts_footer-heading
    &_footer-heading {
      margin-bottom: 24px;
    }

    //--.footer-contacts_link
    &_link {
      font-family: 'Intro-Light';
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.72);
    }

    //--.footer-contacts_phone
    &_phone {
      font-family: 'Intro-Regular';
      font-size: 18px;
      line-height: 24px;
      color: white;
    }

    //--.footer-contacts_item-icon
    &_item-icon {
      fill: white;
      margin-right: 18px;

      &--email {
        fill: none;
        stroke: white;
      }
    }
  }

  //--.footer-bottom
  &-bottom {
    display: flex;
    min-height: 80px;

    &-left {
      position: relative;
      display: flex;
      align-items: center;
      flex-basis: 50%;

      &::after {
        content: '';
        background: rgba(203, 218, 236, 0.08);
        width: 96.55%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-right {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-basis: 50%;

      &::after {
        content: '';
        background: rgba(203, 218, 236, 0.08);
        width: 96.55%;
        height: 1px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &-docs {
      display: flex;

      &_link {
        font-family: 'Intro-Book';
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.64);
      }

      &_item {
        &:nth-child(1) {
          margin-right: 86px;
        }
      }
    }

    &-pyrobyte-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: -45px;
      top: -7px;
      &_text {
        font-family: 'Intro-Book';
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.32);
      }
    }
  }
}