.header {

  &_burger {
    margin-right: 32px;
  }

  &_logo {
    margin-right: 40px;
  }

  &_top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #D9E8F6;


    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (max-width: 415px) {
      display: none;
    }
  }

  &_bottom {
    display: flex;
    justify-content: center;
    padding-top: 16px;

    @media screen and (max-width: 415px) {
      display: none;
    }

    &-container {
      display: flex;
      align-items: center;
    }
  }

  &_menu {
    font-family: 'Intro-Book';
    font-size: 14px;
    z-index: 10;

    &-list {
      list-style: none;
      display: flex;
    }

    &-icon {
      &-left {
        margin-right: 8px;
      }
      &-right {
        margin-left: 8px;
      }
    }

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 40px;
    }

    &-link {
      color: #666666;
      transition: 0.12s ease-out;

      &:hover {
        color: #88898B;
      }
    }

    &-dropdown {
      overflow: hidden;
      display: none;
      position: absolute;
      bottom: -4px;
      left: 0;
      transform: translateY(100%);
      width: 208px;
      background-color: white;
      box-sizing: border-box;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      border: 1px solid #BDD5F2;

      &-link {
        font-family: 'Intro-Book';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $dark;
      }

      &-item {
        display: flex;
        align-items: center;
        padding: 12px 16px 12px 16px;
        border-bottom: 1px solid #DEECFF;
        transition: background-color 0.12s ease-out;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: $pageBg;
        }
      }
    }
  }

  &_contacts {
    &-list {
      display: flex;
    }

    &-phone {
      font-family: 'Intro-Bold';
      margin-right: 46px;

      &-link {
        color: $dark;
        transition: 0.12s ease-out;
        border-bottom: 1px dashed rgba(0, 0, 0, 0);

        &:hover {
          opacity: 0.76;
        }
      }
    }

    &-callback {
      font-size: 14px;
      font-family: 'Intro-Book';
      border-bottom: 1px dashed #666666;
      position: relative;
      transition: 0.2s ease;

      &:hover {
        border-bottom: 1px dashed rgba(0, 0, 0, 0);
      }

      &-link {
        color: #666666;
      }
    }

    &-icon {
      fill: $dark;
      position: absolute;
      left: -22px;
    }
  }

  &_search {
    width: 100%;
    max-width: 528px;
    height: 48px;
    position: relative;
    margin-right: 22px;

    &-icon {
      position: absolute;
      top: 17px;
      left: 15px;
      fill: #AEC2D9;
    }

    &-input {
      width: 100%;
      height: 100%;
      padding-left: 46px;
      border: 1px solid $greyBlue;
      border-radius: 4px;
      box-sizing: border-box;
      font-family: 'Intro-Light';
      font-size: 16px;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.04);
      }

      &:focus {
        outline: none;
        border: 1px solid #9BC8FF;
      }
    }
  }

  &_user-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 178px;

    &-item {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-svg {
      fill: $dark;
      transition: 0.12s ease-out;

      &--stroke {
        fill: none;
        stroke: $dark;
        transition: 0.2s ease;

        &:hover {
          fill: none;
          stroke: rgba($color: $dark, $alpha: 0.85);
        }
      }

      &:hover {
        fill: #515964;
      }
    }
  }

  &_mobile {
    display: none;
    box-sizing: border-box;
    height: 64px;
    background-color: #fff;
    width: 100%;
    padding: 8px 16px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);

    &-logo {
      max-width: 125px;
      height: 47px;
    }

    &-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-icon {
      fill: $dark;
    }

    &-icons-wrap {
      box-sizing: border-box;
      height: 48px;
      max-width: 176px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    @media screen and (max-width: 415px) {
      display: block;
    }
  }
}