.ingredients {
  &_title {
    font-family: 'Intro-Light';
    font-size: 16px;
    line-height: 40px;
    color: #333333;
    margin-right: 54px;
    transform: translate(-1.7px, -1.8px);
  }

  &_heading {
    font-family: 'Intro-Book';
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    display: inline-block;
    margin-bottom: 14.5px;  
  }

  &_recipe-weight {
    font-family: 'Intro-Regular';
    font-size: 16px;
    line-height: 40px;
    color: #333333;
    margin-right: 13px;
    transform: translate(-4.7px, -1px);
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-img {
      margin-right: 16.5px;
    }
  }

  &_buy-button {
    max-width: 100px;
  }

  &_row {
    border-bottom: 1px solid rgba(189, 213, 242, 0.56);
    box-sizing: border-box;
    min-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media screen and (max-width: 415px) {
      &:last-child {
        border-bottom: none;
      }
    }
  }

  &_product {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-name {
      font-family: 'Intro-Light';
      font-size: 16px;
      line-height: 40px;
      color: #333333;
    }

    &-count {
      font-family: 'Intro-Regular';
      font-size: 16px;
      line-height: 40px;
      color: #333333;
      text-align: right;
      white-space: nowrap;
    }
  }

  @media screen and (max-width: 415px) {
    display: none;
  }
}

