.login {
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  min-height: 512px;
  padding: 42px 70px 32px 70px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  text-align: center;

  &_heading {
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    display: inline-block;
    margin-bottom: 38px;
  }

  &_input {
    width: 100%;
    position: relative;
    margin-bottom: 24px;

    &:last-child {
      margin: 0;
    }

    &-icon {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  &_lost-password {
    font-family: 'Intro-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $red;
  }

  &_options-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }

  &_checkbox {
    margin-right: 12px;
  }

  &_remember {
    font-family: 'Intro-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #1E2833;

    &-label {
      display: flex;
      align-items: center;
    }
  }

  &_inputs-wrap {
    margin-bottom: 20px;
  }

  &_register-btn {
    width: 100%;
    font-family: 'Intro-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 7px;
    margin-bottom: 15.5px;
  }

  &_login-btn {
    margin-bottom: 14px;
  }

  &_privacy {
    &-wrap {
      font-family: 'Intro-Book';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #999999;
    }

    &-link {
      color: $red;
    }
  }
}