.main {
  &_breadcrumbs {
    margin-bottom: 20px;
  }

  &_ask-question {
    margin: 0 auto;
    margin-bottom: 24px;

    @media screen and (max-width: 415px) {
      margin-bottom: 39px;
    }
  }

  &_faq {
    margin-bottom: 32px;
  }

  &_similar-recipes {
    margin-bottom: 61px;

    @media screen and (max-width: 415px) {
      margin-bottom: 67px;
    }
  }

  &_reviews {
    margin-bottom: 43px;
    @media screen and (max-width: 415px) {
      margin-bottom: 19px;
    }
  }

  &_callback-discount {
    margin-bottom: 48px;

    @media screen and (max-width: 415px) {
      margin-bottom: 25px;
    }
  }

  &_delivery-notice {
    margin-bottom: 39px;
  }
}