.nutritional-value {
  width: 100%;
  max-width: 658px;
  display: flex;
  justify-content: space-between;
  color: #999999;
  font-family: 'Intro-Book';
  font-size: 14px;
  text-align: center;
  //--.nutritional-value_item
  &_item {
    min-width: 136px;
    height: 136px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  //--.nutritional-value_weight
  &_weight {
    font-size: 24px;
    font-family: 'Intro-Bold';
    color: $dark;
    //--.nutritional-value_weight-unit
    &-unit {
      display: block;
      color: #999999;
      font-family: 'Intro-Book';
      font-size: 14px;
    }
  }
  &_icon {
    fill: blue;
  }
}