.nutritional-value {
  width: 100%;
  max-width: 658px;
  display: flex;
  justify-content: space-between;
  color: #999999;
  font-family: 'Intro-Book';
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;

  &_wrap {
    overflow: hidden;
  }

  &_item {
    min-width: 136px;
    height: 136px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    @media screen and (max-width: 415px) {
      min-width: 80px;
      height: 80px;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &_title {
    line-height: 1;

    @media screen and (max-width: 415px) {
      font-size: 8.23529px;
      line-height: normal;
    }
  }

  &_weight {
    line-height: 1.1;
    font-size: 24px;
    font-family: 'Intro-Bold';
    color: $dark;

    @media screen and (max-width: 415px) {
      font-size: 14.1176px;
      line-height: normal;
    }

    &-unit {
      line-height: 1;
      display: block;
      color: #999999;
      font-family: 'Intro-Book';
      font-size: 14px;

      @media screen and (max-width: 415px) {
        font-size: 8.23529px;
        line-height: 11.55px;
        transform: translateY(-4.8px);
      }
    }
  }

  &_icon {
    @media screen and (max-width: 415px) {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_heading {
    display: none;

    @media screen and (max-width: 415px) {
      display: inline-block;
      padding: 0 16px 0 16px;
    }
  }

  @media screen and (max-width: 415px) {
    overflow-y: scroll;
    padding: 0 0 15px 16.5px;
  }
}