.recipe {
  margin-bottom: 25px;

  //--.recipe_container
  &_container {
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;
    @media screen and (max-width: 415px){
      padding-top: 22.5px;
    }
  }

  &_description {
    padding-left: 16px;
    padding-right: 16px;
  }

  &_description-heading {
    display: none;
    @media screen and (max-width: 415px) {
      display: inline-block;
    }
  }

  //--.recipe-videos
  &-videos {
    width: 100%;
    max-width: 429px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 415px) {
      display: none;
    }

    //.recipe-videos_item
    &_item {
      width: 127px;
      height: 88px;
      border-radius: 8px;
      cursor: pointer;
      position: relative;

      &::after {
        border-radius: 8px;
        content: '';
        background: url('../../assets/icons/ContentVideos/play.svg'), rgba(0, 0, 0, 0.5);
        top: 0;
        background-repeat: no-repeat;
        background-position: center center;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.2s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  //--.recipe_description
  &_description-text {
    font-family: 'Intro-Book';
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    max-width: 660px;
    // POS
    margin-bottom: 38px;

    @media screen and (max-width: 415px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 26px;
    }
  }

  //--.recipe-left-wrap
  &_left {
    max-width: 430px;
    width: 100%;
    margin-right: 70px;
    
    @media screen and (max-width: 415px) {
      margin-right: 0;
    }
  }

  &_right {
    width: 100%;
    max-width: 660px;
  }

  //--.recipe_recipe-videos
  &_recipe-videos {
    margin-bottom: 42px;
  }

  //--.recipe_nutritional-value
  &_nutritional-value {
    margin-bottom: 60px;
    @media screen and (max-width: 415px) {
      padding-top: 4.5px;
      margin-bottom: 49.5px;
    }
  }

  //--.recipe_steps
  &_steps {
    padding-left: 65px;

    &-wrap {
      @media screen and (max-width: 415px) {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  &_step {

    //--.recipe-steps_title
    &-title {
      font-family: 'Intro-Book';
      font-size: 24px;
      color: #1E2833;
      position: relative;
      line-height: 32px;
      letter-spacing: -0.8px;
      
      &::after {
        content: '';
        left: -56px;
        top: 0;
        width: 32px;
        height: 32px;
        border: 2px solid rgba(241, 85, 38, 0.08);
        border-radius: 100%;
        box-sizing: border-box;
        position: absolute;
      }

      &--last::after {
        border: 2px solid $red;
        background-image: url('../../assets/icons/RecipeSteps/stop.svg');
        background-position: center center;
        background-repeat: no-repeat;
      }

      &--first::after {
        background-image: url('../../assets/icons/RecipeSteps/play.svg');
        background-position: center center;
        background-repeat: no-repeat;
        border: 2px solid $red;
      }
    }

    //--.recipe_steps-text
    &-text {
      font-family: 'Intro-Light';
      font-size: 16px;
      color: #333333;
      position: relative;
      padding-bottom: 34px;
      padding-top: 6px;
      line-height: 24px;

      &::after {
        content: '';
        left: -41px;
        top: 0;
        width: 2px;
        height: 100%;
        position: absolute;
        background-color: rgba(241, 85, 38, 0.08);
      }

      &--last::after {
        width: 0;
      }

      &--last {
        padding-bottom: 0;
      }
    }
  }
}