.recipe {
  margin-bottom: 25px;
  //--.recipe-container
  &_container {
    display: flex;
    padding-top: 40px;
  }
  //--.recipe-videos
  &-videos {
    width: 100%;
    max-width: 429px;
    display: flex;
    justify-content: space-between;
    //.recipe-videos_item
    &_item {
      width: 127px;
      height: 88px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  //--.recipe-description
  &-description {
    font-family: 'Intro-Book';
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    max-width: 660px;
  }
  //--.recipe-left-wrap
  &-left-wrap {
    max-width: 430px;
    width: 100%;
    margin-right: 70px;
  }
  //--.recipe_content-description
  &_recipe-description {
    margin-bottom: 38px;
  }
  //--.recipe_recipe-videos
  &_recipe-videos {
    margin-bottom: 42px;
  }
  //--.recipe_nutritional-value
  &_nutritional-value {
    margin-bottom: 60px;
  }
  //--.recipe_recipe-steps
  &_recipe-steps {
    padding-left: 65px;
  }
  //--.recipe-steps
  &-steps {
    //--.recipe-steps_step
    &_step {
      
    }
    //--.recipe-steps_title
    &_title {
      font-family: 'Intro-Book';
      font-size: 24px;
      color: #1E2833;
      position: relative;
      line-height: 32px;
      &::after {
        content: '';
        left: -56px;
        top: 0;
        width: 32px;
        height: 32px;
        border: 2px solid rgba(241, 85, 38, 0.08);
        border-radius: 100%;
        box-sizing: border-box;
        position: absolute;
      }
      &--last::after {
        border: 2px solid $red;
        background-image: url('../../assets/icons/RecipeSteps/stop.svg');
        background-position: center center;
        background-repeat: no-repeat;
      }
      &--first::after {
        background-image: url('../../assets/icons/RecipeSteps/play.svg');
        background-position: center center;
        background-repeat: no-repeat;
        border: 2px solid $red;
      }
    }
    //--.recipe-steps_text
    &_text {
      font-family: 'Intro-Light';
      font-size: 16px;
      color: #333333;
      position: relative;
      padding-bottom: 34px;
      padding-top: 6px;
      line-height: 24px;
      &::after {
        content: '';
        left: -41px;
        top: 0;
        width: 2px;
        height: 100%;
        position: absolute;
        background-color: rgba(241, 85, 38, 0.08);
      }
      &--last::after {
        width: 0;
      }
      &--last {
        padding-bottom: 0;
      }
    }
  }
}