.registration {
  box-sizing: border-box;
  position: relative;
  max-width: 500px;
  width: 100%;
  min-height: 662px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 44px 70px 30px 70px;
  text-align: center;

  &_close {
    position: absolute;
    cursor: pointer;
    right: 18px;
    top: 21px;
    width: 18px;
    height: 18px;
  }

  &_heading {
    color: $dark;
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    display: block;
    margin-bottom: 38px;
  }

  &_form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
  }

  &_input {
    width: 100%;
    position: relative;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &-icon {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 8px;
      right: 8px;
    }

    &-wrap {
      margin-bottom: 48px;
    }
  }

  &_reg-button {
    margin-bottom: 16px;
  }

  &_login-btn {
    font-family: 'Intro-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 7px;
    margin-bottom: 16px;
  }

  &_privacy {
    &-wrap {
      font-family: 'Intro-Book';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #999999;
    }

    &-link {
      color: $red;
    }
  }
}