.reviews {
  padding-bottom: 24px;
  
  &_heading {
    &--pc {
      @media screen and (max-width: 415px) {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @media screen and (max-width: 415px) {
        display: block;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
  
  &_wrap {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }
  //--.reviews-star
  &-star {
    margin-right: 4px;
    fill: $greyBlue;
    &--active {
      fill: $orange;
    }
    &:last-child {
      margin-right: 15px;
    }
  }
  //--.reviews_header
  &_header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
    width: 100%;
    min-height: 88px;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid rgba(203, 218, 236, 0.56);
    @media screen and (max-width: 415px) {
      border-radius: 0;
      border: none;
      position: relative;
      &::after {
        content: '';
        width: 91.1%;
        height: 1px;
        background-color: rgba(203, 218, 236, 0.56);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-wrap {
      @media screen and (max-width: 415px) {
        background-color: #fff;
      }
    }

    //--.reviews_header-star-wrap
    &-star-wrap {
      margin-right: 5px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 415px) {
        margin: 0;
      } 
    }
    //--.reviews_header-button
    &-button {
      margin-right: 60px;

      @media screen and (max-width: 415px) {
        display: none;
      }
    }
    //--.reviews_header-rate
    &-rate {
      display: flex;
      align-items: center;

      @media screen and (max-width: 415px) {
        flex-direction: column;
        align-items: flex-start;
      }
      //--.reviews_header-rate-text
      &-text {
        font-family: 'Intro-Regular';
        font-size: 16px;
        line-height: 24px;
        margin-right: 17px;

        @media screen and (max-width: 415px) {
          margin-right: 0;
          margin-bottom: 3px;
        }
      }
    }
    //--.reviews_header-comments-number
    &-comments-number {
      line-height: 24px;
      font-family: 'Intro-Book';
      font-size: 14px;
      color: #999999;
    }
    //--.reviews_header-sorting
    &-sorting {
      display: flex;
      align-items: center;
      position: relative;
      padding-right: 65px;
      @media screen and (max-width: 415px){
        padding-right: 30px;
      }
      //--.reviews_header-sorting_text
      &-text {
        font-family: 'Intro-Light';
        font-size: 16px;
        line-height: 24px;
        color: $dark;

        @media screen and (max-width: 415px) {
          margin-right: 0;
          font-size: 14px;
          line-height: 20px;
        }
      }

      &-icon {
        position: absolute;
        right: 16px;
        top: 11px;

        @media screen and (max-width: 415px) {
          top: 8px;
        }
      }
    }
  }
  &_comment {
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 23px 16px 15px 16px;
    border-bottom: 1px solid rgba(203, 218, 236, 0.56);
    letter-spacing: -0.4px;
    
    &--last {
      border-bottom: 0;
      border-radius: 0 0 8px 8px;
    }
    
    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
    }

    &-user-name {
      font-family: 'Intro-Regular';
      font-size: 18px;
      line-height: 24px;
      color: $dark;
      margin-right: 17px;
    }

    &-publish-date {
      font-family: 'Intro-Light';
      font-size: 14px;
      line-height: 20px;
      color: #999999;
    }

    &-rate {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
    }

    &-stars-wrap {
      margin-right: 5px;
    }

    &-user-star {
      margin-right: 4px;
      fill: $greyBlue;
      width: 13px;
      &--active {
        fill: $orange;
      }
    }

    &-img {
      display: block;
      padding: 17px 0 16.4px 0;
    }

    &-rate-count {
      font-family: 'Intro-Book';
      font-size: 14px;
      color: #999999;
    }

    &-text {
      font-family: 'Intro-Light';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: normal;
    }

    &-answer-button {
      color: $red;
      font-family: 'Intro-Light';
      font-size: 16px;
      line-height: 24px;
      border-bottom: 1px dashed $red;
      letter-spacing: normal;
    }

    &-avatar {
      margin-right: 16px;
    }
  }
}
