.search-input {
  width: 100%;
  max-width: 528px;
  height: 48px;
  position: relative;
  //--.search-input_textfield
  &_textfield {
    width: 100%;
    height: 100%;
    padding-left: 46px;
    border: 1px solid $greyBlue;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Intro-Light';
    font-size: 16px;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.04);
    }
    &:focus {
      outline: 1px solid #9BC8FF;
      border: 1px solid #9BC8FF;
    }
  }
  //--.search-input_icon
  &_icon {
    position: absolute;
    top: 57%;
    left: 15px;
    transform: translateY(-50%);
  }
}
