.socials {
  width: 100%;
  max-width: 232px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &_logo {
    transition: 0.2s ease;

    &:hover {
      opacity: 0.85;
    }
  }
}