.swiper {
  &-pagination {
    display: none;
    @media screen and (max-width: 425px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
    }
    &-bullet {
      width: 4px;
      height: 4px;
      background-color: rgba(241, 85, 38, 0.24);
      border-radius: 100%;
      margin-right: 16px;
      &-active {
        width: 6px;
        height: 6px;
        background-color: $red;
      }
    }
  }
}

