@font-face {
  font-family: 'Intro-Bold';
  src: url('../assets/fonts/Intro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Intro-Book';
  src: url('../assets/fonts/Intro-Book.woff') format('woff');
}

@font-face {
  font-family: 'Intro-Light';
  src: url('../assets/fonts/Intro-Light.woff') format('woff');
}

@font-face {
  font-family: 'Intro-Regular';
  src: url('../assets/fonts/Intro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Intro-Black';
  src: url('../assets/fonts/Intro-Black.woff') format('woff');
}