$orange: #FCCA17;
$blue: #44B9EA;
$lightBlue: #C4EDFC;
$red: #F15526;
$greyBlue: #BDD5F2;
$bordo: #D71E25;
$dark: #1E2833;
$white: white;
$disable: #DBE1E8;
$hoverForm: #FBFDFF;
$alertBorder: #F5ABAB;
$alertBg: #FFFCFC;
$pageBg: #F1F7FF;
